@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.badge_color{
  background-color:rgb(20, 190, 20) !important;
}
.card {
  padding: 15px;
}
.card_card2{
  background-color: rgba(255, 255, 255, 0.972) !important;
  border-radius: 15px !important;
}
.card_card3{
  background-color: rgba(0, 0, 0, 0.657) !important;
  border-radius: 10px !important;
}
.button1 {
  background-color: rgb(7, 116, 218);
  font-size: 15px;
  color: white;
  border: none;
  padding: 15px 30px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}
.button1:hover {
  background-color:  rgb(12, 107, 196);
  transition: all 0.5s;
  padding-right: 40px;
}
.button2 {
  background-color: rgb(192, 221, 253);
  border: none;
  color: #617df7;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}
.button2:hover {
  background-color: #6d88fd;
  color: #fff;
  /* padding:10px 25px; */
  word-spacing: 5px;
  transition: all 0.4s ease-in-out;
}
.button3 {
  background-color:rgba(128, 128, 128, 0.712);
  border: none;
  color: rgb(245, 246, 247);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}
.button3:hover {
  background-color:rgba(128, 128, 128, 0.89);
  transition: all 0.4s ease-in-out;
}
.usd_hand{
  width: 60px;
  height: 60px;
  background-color:rgb(228, 239, 252);
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.fa-hand-holding-usd{
  color: #617df7;
}
.fa-book {
  color: white;
  padding: 5px;
  margin: 5px;
}
.fa-check-circle {
  color: white;
  padding: 5px;
  margin: 5px;
}
.fa-mail-bulk {
  color: white;
  padding: 5px;
  margin: 5px;
}
.fa-telegram-plane {
  color: white;
  padding: 2px;
  margin: 2px;
}
.fa-sticky-note {
  color: #617df7;
  padding: 5px;
  margin: 5px;
}

.fa-credit-card {
  color: #617df7;
  padding: 5px;
  margin: 5px;
}
.fa-user-circle {
  padding: 3px;
  margin: 3px;
}
